.bodySection {
  max-width: 1300px;
}
.bodyCard {
  max-width: 700px;
  width: 60%;
}
.bodySuggestion {
  max-width: 400px;
  width: 30%;
}
.blogParent {
  border-bottom: solid 2px rgba(242, 242, 242, 1);
  background-color: rgba(255, 255, 255, 1);
}
.bodySuggestion {
  position: fixed;
  right: 0px;
}
.error {
  border: 1px solid red;
}
.formParent {
  max-width: 1200px;
  margin: 0 auto;
}
.formDiv {
  padding: 2rem;
  width: 50%;
  border: 1px solid black;
  margin: 0 auto;
}
.formDiv1 {
}
