.form-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: black;
}

.form-wrapper-content {
  display: flex;
  flex-direction: column;
  text-align: left;
  max-width: 800px;
}

.form-wrapper-head {
  color: white;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.form-wrapper-para {
  color: white;
  font-size: 1rem;
  margin-bottom: 2rem;
}

.form-wrapper-lists {
  color: white;
  font-size: 1rem;
  margin-top: 2rem;
}

.form-wrapper-button {
  font-weight: bold;
  padding: 8px 16px;
  padding: 1rem -5rem;
  font-size: 1rem;
  border: none;
  border-radius: 4px;
  background-color: #0177ff;
  color: white;
  cursor: pointer;

}

.form-wrapper-button:hover {
  background-color: #4d9cf6;
}
.form-wrapper-enter {
  display: flex;
  align-items: center;
}

.form-wrapper-enter p {
  color: white;
  margin-left: 1em;
}
